# files
Makefile
Makefile.in

/aclocal.m4
/compile
/config.h
/config.h.in
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# directories
.deps/
/docs/

/autom4te.cache/

# patterns
*~
*.log
*.o
*.img
*.tar.gz

# outputs
/src/kafs

